/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'StenaSans';
}

/* line 27, ../sass/_reset.scss */
* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/*/ reset form /*/
/* line 57, ../sass/_reset.scss */
input,
select,
textarea {
  border: none;
}

/* line 62, ../sass/_reset.scss */
input:focus,
select,
textarea:focus {
  outline: none;
}

/* line 67, ../sass/_reset.scss */
input,
textarea {
  resize: none;
  padding: 0;
  margin: 0;
}

/* line 73, ../sass/_reset.scss */
input[type='radio'],
select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

/* line 80, ../sass/_reset.scss */
video::-webkit-media-controls {
  display: none !important;
}

/* line 83, ../sass/_reset.scss */
video::-webkit-media-controls-panel {
  display: none !important;
}

/* line 86, ../sass/_reset.scss */
video::-webkit-media-controls-play-button {
  display: none !important;
}

/* line 89, ../sass/_reset.scss */
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

/* line 1, ../sass/_root-vars.scss */
:root {
  --color-red: #B91B1B;
  --color-beige: #FFFBEB;
  --color-black: #000000;
  --color-blue: #0B5985;
  --color-white: #FFFFFF;
}

/* line 2, ../sass/_font.scss */
body * {
  font-family: 'Inter', sans-serif;
}

/* line 7, ../sass/_font.scss */
h1 {
  font-size: 32px;
}

/* line 10, ../sass/_font.scss */
.title {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
}

/* line 17, ../sass/_font.scss */
.title-small {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
}
/* line 23, ../sass/_font.scss */
.title-small--red {
  color: var(--color-red);
}

/* line 1, ../sass/_style.scss */
input[type=text],
input[type=number],
input[type=submit] {
  padding: 10px;
  border: 1px solid black;
}

/* line 1, ../sass/_header.scss */
#header,
.header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-red);
}
/* line 9, ../sass/_header.scss */
#header nav,
.header-admin nav {
  display: flex;
  column-gap: 20px;
}

/* line 1, ../sass/_header-admin.scss */
.header-admin {
  background-color: #fffbeb;
}

/* line 1, ../sass/_food.scss */
.page-food__macro-sect {
  margin-bottom: 40px;
}

/* line 5, ../sass/_food.scss */
.page-food__type-title {
  background-color: #fffbeb;
  width: 50%;
}

/* line 10, ../sass/_food.scss */
.page-food__price {
  background-color: black;
  color: #FFFFFF;
  padding: 10px;
}

/* line 16, ../sass/_food.scss */
.page-food__ingredients {
  display: flex;
}

/* line 1, ../sass/_admin-pizza.scss */
.page-admin-foods__row {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

/* line 8, ../sass/_admin-pizza.scss */
.page-admin-foods__main-col {
  width: 50%;
}

/* line 11, ../sass/_admin-pizza.scss */
.page-admin-foods__secondary-col {
  width: 25%;
}

/* line 1, ../sass/_components.scss */
.loading-circle {
  width: 50px;
  height: 50px;
}
