.page-admin-foods__row {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.page-admin-foods__main-col {
    width: 50%;
}
.page-admin-foods__secondary-col {
    width: 25%;
}