body {
    * {
        font-family: 'Inter', sans-serif;
    }
}

h1 {
    font-size: 32px;
}
.title {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-black);
    text-transform: uppercase;
}

.title-small {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
    
    &--red {color: var(--color-red);}
}

