.page-food__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-std);
}

.page-food__macro-sector {
    display: flex;
    flex-direction: column;
}

.page-food__type-title {
    background-color: #fffbeb;
    width: 50%;
}

.page-food__price {
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: var(--gap-xs);
}

.page-food__ingredients {
    display: flex;
    margin-bottom: var(--gap-xs);
}