.page-food__macro-sect {
    margin-bottom: 40px;
}

.page-food__type-title {
    background-color: #fffbeb;
    width: 50%;
}

.page-food__price {
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
}

.page-food__ingredients {
    display: flex;
}