#header,
.header-admin {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-red);
    height: var(--header-height);
    width: 100vw;
    padding: 0 var(--gap-std);
    z-index: 999;
    
    nav {
        display: flex;
        column-gap: var(--gap-std);
    }
}

.header-admin {
    top: var(--header-height);
    z-index: 998;
}

// comp lang
.header__comp-langs {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.header__comp-langs-switch {
    display: flex;
    cursor: pointer;
}
.header__comp-langs-nav {
    position: absolute;
    top: 100%;
    left: calc(-1 * var(--gap-std));
    background-color: var(--color-red);
    padding: var(--basic-unit) var(--gap-std);
    border-bottom-left-radius: var(--unit-x2);
    // x effetti
    transform: translateX(100%);
    a {
        opacity: 0;
        pointer-events: none;
    }
}