.page {
    margin-top: var(--header-height);
    padding: var(--gap-std);
}

.page-admin {margin-top: var(--header-height-x2)}

input[type=text],
input[type=password],
input[type=number],
input[type=submit] {
    padding: var(--basic-unit);
    border: 1px solid black;
}