#header,
.header-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #b91c1c;
    
    nav {
        display: flex;
        column-gap: 20px;
    }
}

.header-admin {background-color: #fffbeb;}

input[type=text],
input[type=number],
input[type=submit] {
    padding: 10px;
    border: 1px solid black;
}